@charset "UTF-8";

.LSlide-display-backoff .manage-column {
	width: 25%;
}
.LSlide-display-backoff .btn_lslide_add {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.LSlide-display-backoff .tr-add-SLide {
	display: none
}
.LSlide-display-backoff form .submit-td {
	display: flex;
	flex-direction: column;
}
.LSlide-display-backoff form .options-td {
	display: flex;
	flex-direction: row;
}
.LSlide-display-backoff form .btn-cancel {
    background-color: #d52c2c;
}
