@charset "UTF-8";
@import "animate.min.css";
.slideApo {
    width: 100%;
    height: auto;
    padding: 4px 15px;
    overflow: hidden;
}
.container-slideApo {
    width: 100%;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border: 2px solid #555;
}
.list-slideApo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
}
.list-item-sliderApo {
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-line-pack: center;
    align-content: center;
    width: 100%;
}
.content-item {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.content-item .item-title {
    margin: 4px 0;
    text-align: center;
}
.content-item .item-title a {
    text-decoration: none!important;
    text-transform: capitalize;
    box-shadow: none;
    font-size: 24px;
    color: #000;
    text-align: center;
}
.current {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}
.item-list {
    overflow: hidden;
    position: relative;
    width: 150px;
    height: 50px;
}
.item-list img {
    width: 150px!important;
    height: 150px!important;
    position: absolute;
}
.item-image1 img {
    top: 0;
    left: 0;
}
.item-image2 img {
    top: -50px;
    left: 0;
}
.item-image3 img {
    bottom: 0;
    left: 0;
}
.btn {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}
.btn button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 200px;
    height: 40px;
    text-align: center;
    border: 2px outset #555;
    border-radius: 5px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    font-size: 24px;
}
